ipython==7.34.0
jupyter==1.1.1
jupyterlab==4.3.6
lightgbm==4.6.0
matplotlib==3.10.1
pandas==1.5.3
pip-tools==7.4.1
scikit-learn==1.5.1
seaborn==0.13.2
stemgraphic==0.9.1
tfx==1.16.0
tensorflow==2.16.2
xgboost==3.0.0